/**global**/
@import url(//fonts.googleapis.com/icon?family=Material+Icons);
* {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html,.page {height:100%;font-family:economica,sans-serif;color:#fff;}
html,body {padding:0;margin:0;}
body {background: #030a0f;
	background: -moz-radial-gradient(top left, ellipse cover,  #0d3049 0%, #030a0f 100%);
	background: -webkit-gradient(radial, top left, 0px, top left, 100%, color-stop(0%,#0d3049), color-stop(100%,#030a0f));
	background: -webkit-radial-gradient(top left, ellipse cover,  #0d3049 0%,#030a0f 100%);
	background: -o-radial-gradient(top left, ellipse cover,  #0d3049 0%,#030a0f 100%);
	background: -ms-radial-gradient(top left, ellipse cover,  #0d3049 0%,#030a0f 100%);
	background: radial-gradient(ellipse at top left,  #0d3049 0%,#030a0f 100%);
	height:100%;margin:0;background-repeat:no-repeat;background-attachment:fixed;}
body {max-width:1200px;margin:0 auto;width:100%;}
.page {background:url('../images/logo.png') no-repeat top center;background-size:contain;}
header {height:10rem;width:100%;position:relative;}
header h1 {visibility:hidden}
section[role="main"] {padding:1%;}
article {
	background:#8097A6;
	color:#333;
	border:1px solid #fff;
	border-radius:.2rem;
	left:5%;
	padding:1rem;
	position:absolute;
	right:5%;
	top:20%;
	transform:scale(0);
		-webkit-transform:scale(0);
		-ms-transform:scale(0);
	transition:.3s;
		-webkit-transition:.3s;
	z-index:1;
}
article.active {transform:scale(1);-webkit-transform:scale(1);-ms-transform:scale(1);}
h1,h2,h3,h4,h5 {color:#fff;margin:0;font-family:'Anton', sans-serif;font-size:2rem;text-shadow:1px 1px #6B96A1,2px 2px #6B96A1,3px 3px #fe4902,4px 4px #fe4902,5px 5px #6B96A1,6px 6px #6B96A1;}
a,a:link,a:active,#main a:visited {color:#3B5D73;text-decoration:none;}
a:hover {text-decoration:underline;}
img {max-width:100%;}

/**navigation**/
@-webkit-keyframes pulse {
	from {box-shadow:0 0 2px #fff;}
	50% {box-shadow:0 0 7px #fff;}
	to {box-shadow:0 0 2px #fff;}
}
@keyframes pulse {
	from {box-shadow:0 0 2px #fff;}
	50% {box-shadow:0 0 7px #fff;}
	to {box-shadow:0 0 2px #fff;}
}
nav {
  background:#030a0f;
  bottom:1%;
  box-shadow:0 0 2px #fff;
  border-radius:.2rem;
  color:#fff;
  position: fixed;
  left:1%;
  height:3rem;
  max-width:3rem;
  overflow:hidden;
  -webkit-transition:box-shadow .3s,
    max-width .3s;
  transition:box-shadow .3s,
    max-width .3s;
  z-index:10;
  -webkit-animation:pulse 2s infinite;
  animation:pulse 2s infinite;
}
nav.active {
  box-shadow:0 0 7px #fff;
  max-width:30rem;
  -webkit-animation:none;
  animation:none;
}
nav ul {
  margin:0;
  padding:0;
}
nav lh {
  cursor:pointer;
  height:3rem;
  width:3rem;
  padding:.5rem;
  float:left;
  position:relative;
  display:inline-block;
}
nav lh span {
  margin:0 auto;
  position:relative;
  top:15px;
  transition:0s .2s;
  -webkit-transition:0s .2s;
  -webkit-backface-visibility:hidden;
}
nav lh span,nav lh span:before,nav lh span:after {
  width:1.3rem;
  height:.2rem;
  background-color:#fff;
  border-radius:.2rem;
  display:block;
}
nav lh span:before, nav lh span:after {
  position:absolute;
  content:'';
}
nav lh span:before {margin-top:-5px;}
nav lh span:after {margin-top:5px;}
nav.active lh span {background-color:transparent;}
nav lh span:before,nav lh span:after {
  transition:.2s margin 0s,.2s transform .2s;
  -webkit-transition:.2s margin 0s,.2s -webkit-transform .2s;
}
nav.active lh span:before {
  margin-top:0;transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
}
nav.active lh span:after {
  margin-top:0;
  transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
}
nav li {
  border-left:1px solid rgba(255,255,255,.5);
  float:left;
  font-size:1.9rem;
  list-style:none;
  cursor:pointer;
  margin:0;
  padding:.5rem;
  transform:scale(0);
  -webkit-transform:scale(0);-ms-transform:scale(0);
  transition:transform 0.3s ease 0.3s;
  -webkit-transition:-webkit-transform 0.3s ease 0.3s;
  text-align:center;width:3rem;
  -webkit-backface-visibility:hidden;
}
nav.active li {
  transform:scale(1);
  -webkit-transform:scale(1);
  -ms-transform:scale(1);
}

footer p[role="contentinfo"] {color:#fff;text-align:right;margin:0;padding:0 1%;position:fixed;bottom:0;right:0;z-index:0;}

/**social images**/
.connect a img {background-color:transparent;border-radius:100%;width:32%;-webkit-transition:.3s;transition:.3s;}
.facebook:hover {background-color:#3B5999;}
.twitter:hover {background-color:#3AA9E0;}
.youtube:hover {background-color:#CC332D;}
.bandcamp:hover {background-color:#629AA9;}
.soundcloud:hover {background-color:#FF6600;}
.bandsintown:hover {background-color:#629AA9;}


@media only screen and (min-width: 800px) {
	header {height:35%;}
	article {left:15%;right:45%;top:40%;}
}

@media only screen and (min-width:1350px) {
	article {left:30%;right:50%;}
}
